.containerHeader{
    height:2rem;
    background: var(--gray-500);
    display: flex;
    justify-content: center;
    
} 
.textHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    height:12rem;
    background: var(--black);
    color: var(--gray-50);
    margin-top:10px;
    border-radius: 8px;
    
}
.textHeader h3{
    margin-left: 6px;
}